@import url('https://fonts.googleapis.com/css2?family=HeinrichScript&display=swap');

body {
    background-color: #4a0d14;
    color: #4a0d14;
    font-family: 'HeinrichScript', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    color: gold;
    margin-top: 50px;
}

.section {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border: 5px solid;
    border-radius: 20px;
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

h2 {
    font-size: 2em;
    color: #4a0d14;
}

p {
    font-size: 1.5em;
}

.final-text {
    font-size: 2.5em;
    color: gold;
    margin-top: 50px;
    font-family: 'HeinrichScript', cursive;
}

.footer {
    font-size: 1.2em;
    margin-top: 20px;
    color: white;
    font-family: 'HeinrichScript', cursive;
}

/* Класс для появления разделов */
.section.visible {
    opacity: 1;
    transform: translateY(0);
}
